#SingleProduct{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

#SingleProduct img{
    width: 150px;
    height: 150px;
    border-radius: 6px;
}

#SingleProduct span{
    color:  #2aa260;
    font-size: 1.3rem;
    margin-top: 10px;
    text-decoration: underline #e5ffe5;
}