.carousel{
  overflow: hidden;
  position: relative;
  width: 1270px;
  padding: 0.5rem;
  margin: 0rem 0rem 2rem 2rem;
  box-shadow: 0 0 0.4rem  #34CB79;
}

.carousel ul{
  min-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carousel ul li{
  margin: 30px;
  transition: 2.5s;
}

h2 {
  padding: 1rem 2rem;
  color: #006600;
}

.button-carousel {
  position: absolute;
  width: 80px;
  height: calc(100% - 1rem);
  background: none;
}

#goLeft {
  left: 0;
  top: 0.5rem;
  z-index: 1;
}

#goRight {
  right: 0;
  top: 0.5rem;
  z-index: 1;
}

#goLeft img {
  margin-left: -50%;
}

#goRight img {
    margin-left: 50%;
}

.carousel .button-carousel {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}